{% extends "app/Visitor-Customer/user_base.html" %}
{% load static %}
{% block content %}




    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function validate(){
        var x=document.getElementById('Name').value;
        var y=document.getElementById('Pwd').value;
        if (x!=="Sofiya150" && y!=="Sofiya786") {
          alert("Bad Credentials");
          return false;
        }
        return true;
      }

      function validate2(){
        var a=document.getElementById('uname').value;
        var b=document.getElementById('umail').value;
        var c=document.getElementById('upwd').value;
        var d=document.getElementById('ucontact').value;
        var e=document.getElementById('upincode').value;
        var atpos = b.indexOf("@");
        var dotpos = b.lastIndexOf(".");
        if (a=="Sofiya150"){
          alert("User already exist");
          return false;
        }
        if(a.length==0){
          alert("Username is required");
          return false;
        }
        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=b.length) {
          alert("Please enter valid mail id");
          return false;
        }
        if(c.length<8){
          alert("Password must be of 8 characters or above");
          return false;
        }
        if(d.length<10 || d.length>10){
          alert("Please enter 10 digit contact number");
          return false;
        }
        if(e.length!=6){
          alert("Please enter 6 digit pincode");
          return false;
        }
        return true;
      }
    </script>
    <link rel="stylesheet" href="{% static 'user_assets/assets/css/lstyle.css' %}" />
    <title>DustToShine.io - Your one stop laundry Solutions</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="{% url 'set_new_password' %}" class="sign-in-form" method="POST">
            {% csrf_token %}
            <h2 class="title">Reset Password </h2>
            {% if msg %}
            <span style="color:red">{{msg}}</span>
            {% endif %}
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Enter OTP"  name="user_otp"/>
            </div>
            
           <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter New Password" id="Pwd" name="user_password"/>
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Re-Enter New Password" id="Pwd" name="user_cpassword"/>
              </div>
            <input type="submit" value="Submit" class="btn solid" name="submit"/>
            
            <!-- <p class="social-text">Login with social platforms</p> -->
            <!-- <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div> -->
          </form>
        </div>
        </div>
        </div>
        <script src="{% static 'user_assets/assets/js/app.js' %}"></script>
        {% endblock %}
        </body>
    
        </html>